<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= FastExt::View.instance.project %></title>
  <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.1.0/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
  <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.1.0/build/ext-all.js"></script>
  <%= stylesheet_link_tag    "fast_ext/application", :media => "all" %>
  <%= javascript_include_tag "fast_ext/application" %>
  <script type='text/javascript'>
      var app_project = '<%= FastExt::View.instance.project %>';
      var app_version = '<%= FastExt::View.instance.version %>';
      var app_copyright = '<%= FastExt::View.instance.copyright %>';
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
