<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= FastExt::View.instance.project %></title>
  <link href="http://cdn.sencha.com/ext/gpl/4.2.1/resources/css/ext-all.css" rel="stylesheet" />
  <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext/gpl/4.2.1/ext-all.js"></script>
  <%= stylesheet_link_tag    "fast_ext/application", :media => "all" %>
  <%= javascript_include_tag "fast_ext/application" %>
  <script type='text/javascript'>
      var app_project = '<%= FastExt::View.instance.project %>';
      var app_version = '<%= FastExt::View.instance.version %>';
      var app_copyright = '<%= FastExt::View.instance.copyright %>';
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
